@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@100;500&display=swap');

/****************************** Variables ******************************/

$px-1: 0.063rem;
$px-2: 0.125rem;
$px-3: 0.188rem;
$px-4: 0.25rem;
$px-5: 0.313rem;
$px-10: 0.625rem;
$px-11: 0.688rem;
$px-12: 0.75rem;
$px-13: 0.813rem;
$px-14: 0.875rem;
$px-15: 0.938rem;
$px-16: 1rem;
$px-17: 1.063rem;
$px-18: 1.125rem;
$px-19: 1.188rem;
$px-20: 1.25rem;
$px-21: 1.313rem;
$px-22: 1.375rem;
$px-23: 1.438rem;
$px-24: 1.5rem;
$px-25: 1.563rem;
$px-30: 1.875rem;
$px-40: 2.5rem;
$px-50: 3.125rem;
$px-60: 3.75rem;
$px-70: 4.375rem;
$px-80: 5rem;
$px-90: 5.625rem;
$px-100: 6.25rem;
$px-150: 9.375rem;
$px-200: 12.5rem;
$px-250: 15.625rem;
$px-300: 18.75rem;
$px-350: 21.875rem;
$px-400: 25rem;
$px-450: 28.125rem;
$px-500: 31.25rem;
$px-550: 34.375rem;
$px-600: 37.5rem;
$px-650: 40.625rem;
$px-700: 43.75rem;
$px-750: 46.875rem;
$px-800: 50rem;
$px-900: 56.25rem;
$px-1000: 62.5rem;
$px-1200: 75rem;
$px-1300: 81.25rem;
$px-1400: 87.5rem;
$px-1500: 93.75rem;
$px-1600: 100rem;
$px-2000: 125rem;
$px-2200: 137.5rem;

$rem-1: 16px;
$rem-2: 32px;
$rem-3: 48px;
$rem-4: 64px;
$rem-5: 80px;

$perc-25: 25%;
$perc-50: 50%;
$perc-75: 75%;
$perc-100: 100%;

// Titles
$font-playfair-serif: 'Playfair Display', serif;
// Paragraphs
$font-lato-sans: 'Lato', sans-serif;
// Buttons - Navbar
$font-poppins-sans: 'Poppins', sans-serif;
// Autotyping - Welcome
$font-anonymous-pro: "Anonymous Pro", monospace;

$font-jetbrains-mono:  "JetBrains Mono", monospace;

$font-size-base: 16px;
$base-width: 100vw;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-p: 1rem;
$font-size-p-medium: 1.15rem;
$font-size-p-large: 1.50rem;
$font-size-btn: 1rem;

// Color Palette #1
// https://coolors.co/313A42-DB3939-F2F6FC
$color-palette-p-1: #313a42;
$color-palette-p-2: #DB3939;
$color-palette-p-3: #F2F6FC;

// Color Palette #2
// https://coolors.co/4E5D6A-E67575-DEE8F7
$color-palette-s-1: #4e5d6a;
$color-palette-s-2: #E67575;
$color-palette-s-3: #DEE8F7;

// Color Palette #1 - Transparency
// https://coolors.co/313A42-DB3939-F2F6FC
$color-palette-p-1-transp: rgba(49, 58, 66, 0.147);
$color-palette-p-2-transp: rgba(219, 57, 57, 0.4);
$color-palette-p-3-transp: rgba(242, 246, 252, 0.56);

// Color Palette #2 - Transparency
// https://coolors.co/4E5D6A-E67575-DEE8F7
$color-palette-s-1-transp: rgba(78, 93, 106, 0.4);
$color-palette-s-2-transp: rgba(230, 117, 117, 0.4);
$color-palette-s-3-transp: rgba(222, 232, 247, 0.3);

$color-contact-whatsapp: #22BF5B;
$color-contact-whatsapp-hover: #15793A;
$color-contact-instagram: #D61F5C;
$color-contact-instagram-hover: #8F143D;
$color-contact-linkedin: #0AA9FF;
$color-contact-linkedin-hover: #0077B5;

// Borders
$border-radius-btn: 50px;
$border-radius-circle: 100%;
$border-radius-toggler: 1px;

// Box shadow
$box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);

// Transition info
$transition-duration: 0.5s;
$transition-ease: ease;

/****************************** Mixins ******************************/
@mixin transition($properties, $duration, $timing-function: ease) {
    transition: $properties $duration $timing-function;
}
  
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/****************************** Custom container ******************************/
.custom-container {
    width: 80%;
    margin: 10px auto;
}

/****************************** Misc classes ******************************/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hide-element {
    display: none !important;
}

/****************************** General ******************************/
body {
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: auto;   /* Prevent vertical overflow */
}

/****************************** Global styles ******************************/
h1, h2, h3, h4 {
    font-family: $font-playfair-serif;
    color: $color-palette-s-1 !important;
}

p {
    font-family: $font-lato-sans;
    color: $color-palette-p-1;
}

/****************************** Header ******************************/

header {
    background: $color-palette-p-3;
    // border-bottom: 5px solid $color-palette-p-2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all 0.5s ease 0s;
    box-shadow: rgba(230, 117, 117, 0.4) 0px 10px 5px -5px, rgba(219, 57, 57, 0.4) 0px 8px 16px -8px;
}

header .contenedor {
    margin: 0 auto;
    display: flow-root;
    position: relative;
}

header h1 {
    margin: 0;
}

header .logo {
    display: block;
    width: 200px;
    height: 80px;
    background: url('../imgs/kt_logo_lbg.png') no-repeat top left;
    background-size: 95% !important;
    float: none;
    transition: all 0.5s ease 0s;
}

header .main-menu-trigger {
    margin: 35px 0px;
    cursor: pointer;
    width: 25px;
    height: 3px;
    padding: 9px 0px;
    transition: all 0.5s ease 0s;
}

header .main-menu-trigger span {
    position: relative;
    display: block;
}

header .main-menu-trigger span,
header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
    width: 25px;
    height: 4px;
    background: $color-palette-p-1;
    display: block;
    transition: all 0.5s ease 0s;
}

header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
    position: absolute;
    left: 0px;
    content: "";
}

header .main-menu-trigger span::before {
    top: -8px;
}

header .main-menu-trigger span::after {
    bottom: -8px;
}

header.active {
    background: $color-palette-p-1-transp;
    transition: all 0.5s ease 0s;
}

header.active .logo {
    background: url('../imgs/kt_logo_dbg.png') no-repeat top left;
    transition: all 0.5s ease 0s;
}

header.active .main-menu-trigger span,
header.active .main-menu-trigger span::before {
    width: 27px;
    height: 4px;
    background: #ffffff;
    transition: all 0.5s ease 0s;
    transform: rotate(45deg);
}

header.active .main-menu-trigger span::after {
    width: 0;
    height: 0;
}

header.active .main-menu-trigger span {
    transform: rotate(45deg);
}

header.active .main-menu-trigger span::before {
    transform: rotate(-90deg);
    top: 0px;
}

header.fixed {
    position: fixed;
}

header .main-menu {
    position: absolute;
    top: -150px;
    right: 20%;
    transition: all 0.5s ease 0s;
}

header .main-menu li {
    display: block;
    float: left;
    padding: 0 15px;
}

header .main-menu li a {
    padding: 5px 5px;
    display: block;
    text-align: center;
    position: relative;
    font-family: $font-poppins-sans;
    font-size: $px-20;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: $color-palette-p-2;
}

header .main-menu li .dropdown-menu a {
    color: $color-palette-p-1;
}

header .main-menu li a:hover {
    color: $color-palette-p-2;
    text-decoration: none;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: $color-palette-s-3-transp !important; 
}

header .main-menu li a::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    display: block;
    width: 0%;
    height: 0;
    height: 1px;
    // background: $color-palette-p-1;
    transition: all 0.5s ease 0s;
}

header .main-menu li a:hover::after {
    width: 100%;
    background: $color-palette-s-2;
    transition: all 0.5s ease 0s;
}

header.active .main-menu {
    top: 40px;
    transition: all 0.5s ease 0s;
}

header.active.fixed .main-menu {
    top: 40px;
}

header.fixed .main-menu li a {
    font-size: 20px;
}

.dropdown-menu {
    background-color: $color-palette-s-3-transp !important;
}



/****************************** Language switch ******************************/

/* Texto de idioma */
.language-switch {
    position: relative;
    display: inline-block;
    width: $px-40;  /* Ajusta el ancho */
    height: $px-20;  /* Ajusta la altura */
}

.language-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-palette-s-1;
    transition: .4s;
    border-radius: $px-20;  /* Ajusta el radio de borde */
}

.slider:before {
    position: absolute;
    content: "";
    height: $rem-1;  /* Ajusta la altura */
    width: $rem-1;  /* Ajusta el ancho */
    left: $px-2;
    bottom: $px-2;
    background-color: $color-palette-p-3-transp;
    transition: .4s;
    border-radius: $perc-50;  /* Ajusta el radio de borde */
}

input:checked + .slider {
    background-color: $color-palette-p-2-transp;
    .lang-es {
        color: $color-palette-p-1 !important;
        margin-right: $px-5;
    }
}

input:checked + .slider:before {
    transform: translateX($px-20);  /* Ajusta la traducción */
}

/* Texto de idioma */
.language-text {
    position: relative;
    top: -$px-3;  /* Ajusta la posición */
    display: inline-block;
    font-size: $px-11;
}

.lang-es {
    color: $color-palette-p-1;
    margin-right: $px-5;
}


.lang-en {
    color: $color-palette-p-2;
    margin-left: $px-5;
}

.lang-en-db {
    color: $color-palette-p-3-transp !important;
    transition: all 0.5s ease 0s;
}

/****************************** Separator line ******************************/
.separator-line {
    padding-top: $px-2;
    padding-bottom: $px-2;
    background-color: $color-palette-p-2;
}

/****************************** Title lines ******************************/
.line-decorated-lb {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
        content: '';
        flex-grow: 1;
        height: $px-1; /* Altura de las líneas */
        background-color: $color-palette-s-1; /* Color de las líneas */
    }

    &::before {
        margin-right: $px-20; /* Espacio entre la línea y el texto */
    }

    &::after {
        margin-left: $px-20; /* Espacio entre la línea y el texto */
    }
}

.line-decorated-db {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-palette-s-3 !important;

    &::before,
    &::after {
        content: '';
        flex-grow: 1;
        height: $px-1; /* Altura de las líneas */
        background-color: $color-palette-s-3; /* Color de las líneas */
    }

    &::before {
        margin-right: $px-20; /* Espacio entre la línea y el texto */
    }

    &::after {
        margin-left: $px-20; /* Espacio entre la línea y el texto */
    }
}


/****************************** Image transitions ******************************/
.img-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Prevents overflow during scaling */
    border-radius: $px-10;
}

/* Hover rectangle for background effect */
.hover-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0;
    height: 0;
    background-color: $color-palette-s-1-transp; /* Transparent background */
    display: flex;
    border-radius: $px-10;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    text-align: center;
    transition: transform 0.7s ease, opacity 0.7s ease, width 0.7s ease, height 0.7s ease; /* Slower transition */
}

/* On hover, the rectangle expands */
.img-container:hover .hover-rectangle {
    transform: translate(-50%, -50%) scale(1); /* Scale up the rectangle */
    width: 100%;
    height: 100%;
    opacity: 1;
}

/* Image styling */
.img-values {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: $box-shadow;
}

/* Custom font and size for text */
.custom-transition-font {
    font-size: $font-size-p-large !important;
    color: $color-palette-p-2 !important;
    font-family: $font-anonymous-pro;
    font-weight: bolder;
}

/****************************** Buttons ******************************/

.btn-kt-primary {
    background-color: $color-palette-p-1 !important;
    color: $color-palette-s-3 !important;
}

.btn-kt-primary:hover {
    background-color: $color-palette-s-1 !important;
}

.btn-tk-ol-secondary {
    border-color: $color-palette-p-1 !important;
}

.btn-tk-ol-secondary:hover {
    background-color: $color-palette-s-1 !important;
    border-color: $color-palette-s-1 !important;
    color: $color-palette-p-3 !important;
}

/****************************** Projects - Index ******************************/

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    height: auto;
    color: #fff;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: $color-palette-s-3-transp;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .project-image {
    width: 200px;
    height: 57px;
    // margin-bottom: 40px;
    padding: 4px;
}

.card-list .card-item .project-name h2 {
    color: $color-palette-p-3 !important;
}

.card-list .card-item .project-desc {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0;
}

.card-list .card-item .go-project-btn {
    width: 50px;
}

.card-list .card-item .go-project-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.slider-wrapper .swiper-slide-button {
    color: $color-palette-s-1;
    margin-top: 2%;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: $color-palette-s-2;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
  }
}

/****************************** Footer ******************************/

footer {
    background: $color-palette-p-3;
    color: $color-palette-p-1;
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: rgba(230, 117, 117, 0.4) 0px -10px 5px -5px, rgba(219, 57, 57, 0.4) 0px -8px 16px -8px;
}

footer .custom-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer .footer-menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-menu li a {
    text-decoration: none;
    color: $color-palette-p-1;
    font-family: $font-poppins-sans;
    font-size: $px-16;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

footer .footer-menu li a:hover {
    color: $color-palette-s-2;
}

footer .footer-credit {
    font-size: $px-14;
    color: $color-palette-p-1;
}

.footer-icons a i {
    color: $color-palette-p-1; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for color change */
    margin: 0px 10px;
}

.footer-icons a i:hover {
    color: $color-palette-s-2; /* Change this to your desired hover color */
}

/****************************** Privacy Policy ******************************/

.privacy-policy {
    height: 165vh;
}

.container-pp {
    max-width: 50%;
    margin: 0 auto;
}

.privacy-policy-img-style img {
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}