@charset "UTF-8";
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/****************************** Variables ******************************/
/****************************** Custom container ******************************/
.custom-container {
  width: 80%;
  margin: 10px auto;
}

/****************************** Misc classes ******************************/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide-element {
  display: none !important;
}

/****************************** Header ******************************/
header {
  background: #F2F6FC;
  border-bottom: 5px solid #DB3939;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.5s ease 0s;
}

header .contenedor {
  margin: 0 auto;
  display: flow-root;
  position: relative;
}

header h1 {
  margin: 0;
}

header .logo {
  display: block;
  width: 250px;
  height: 100px;
  background: url("../imgs/kt_logo_lbg.png") no-repeat top left;
  background-size: 95% !important;
  float: none;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger {
  margin: 43px 0px;
  cursor: pointer;
  width: 25px;
  height: 3px;
  padding: 9px 0px;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger span {
  position: relative;
  display: block;
}

header .main-menu-trigger span,
header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
  width: 25px;
  height: 4px;
  background: rgb(49, 58, 66);
  display: block;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
  position: absolute;
  left: 0px;
  content: "";
}

header .main-menu-trigger span::before {
  top: -8px;
}

header .main-menu-trigger span::after {
  bottom: -8px;
}

header.active {
  background: rgba(49, 58, 66, 0.4);
  transition: all 0.5s ease 0s;
}

header.active .logo {
  background: url("../imgs/kt_logo_dbg.png") no-repeat top left;
  transition: all 0.5s ease 0s;
}

header.active .main-menu-trigger span,
header.active .main-menu-trigger span::before {
  width: 27px;
  height: 4px;
  background: #ffffff;
  transition: all 0.5s ease 0s;
  transform: rotate(45deg);
}

header.active .main-menu-trigger span::after {
  width: 0;
  height: 0;
}

header.active .main-menu-trigger span {
  transform: rotate(45deg);
}

header.active .main-menu-trigger span::before {
  transform: rotate(-90deg);
  top: 0px;
}

header.fixed {
  position: fixed;
}

header.fixed .logo {
  width: 150px;
  height: 70px;
  transition: all 0.5s ease 0s;
}

header.fixed .main-menu-trigger {
  margin: 29px 0px;
  transition: all 0.5s ease 0s;
}

header .main-menu {
  position: absolute;
  top: -150px;
  right: 20%;
  transition: all 0.5s ease 0s;
}

header .main-menu li {
  display: block;
  float: left;
  padding: 0 15px;
}

header .main-menu li a {
  padding: 10px 5px;
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #DB3939;
}

header .main-menu li a:hover {
  color: #F2F6FC;
  text-decoration: none;
}

header .main-menu li a::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  display: block;
  width: 0%;
  height: 0;
  height: 1px;
  transition: all 0.5s ease 0s;
}

header .main-menu li a:hover::after {
  width: 100%;
  background: #F2F6FC;
  transition: all 0.5s ease 0s;
}

header.active .main-menu {
  top: 40px;
  transition: all 0.5s ease 0s;
}

header.active.fixed .main-menu {
  top: 20px;
}

header.fixed .main-menu li a {
  font-size: 20px;
}

/****************************** Language switch ******************************/
/* Texto de idioma */
.language-switch {
  position: relative;
  display: inline-block;
  width: 2.5rem; /* Ajusta el ancho */
  height: 1.25rem; /* Ajusta la altura */
}

.language-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 58, 66, 0.4);
  transition: 0.4s;
  border-radius: 1.25rem; /* Ajusta el radio de borde */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Ajusta la altura */
  width: 16px; /* Ajusta el ancho */
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: rgba(242, 246, 252, 0.56);
  transition: 0.4s;
  border-radius: 50%; /* Ajusta el radio de borde */
}

input:checked + .slider {
  background-color: rgba(219, 57, 57, 0.4);
}
input:checked + .slider .lang-es {
  color: rgb(49, 58, 66) !important;
  margin-right: 0.313rem;
}

input:checked + .slider:before {
  transform: translateX(1.25rem); /* Ajusta la traducción */
}

/* Texto de idioma */
.language-text {
  position: relative;
  top: -0.188rem; /* Ajusta la posición */
  display: inline-block;
  font-size: 0.688rem;
}

.lang-es {
  color: rgb(49, 58, 66);
  margin-right: 0.313rem;
}

.lang-en {
  color: #DB3939;
  margin-left: 0.313rem;
}

/****************************** Línea separadora ******************************/
.separator-line {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background-color: #DB3939;
}/*# sourceMappingURL=general.css.map */