@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cutive+Mono&display=swap');
@import "general.scss";

.welcome-section {
    // background-color: $color-palette-s-1;
    height: 100vh;
}

.space-section {
    height: 100vh;
    background: linear-gradient( rgb(22, 27, 39), rgb(78, 93, 106) );
}

.welcome-text {
    color: $color-palette-p-2 !important;
}

.text-space div p {
    font-size: $px-20;
    color: $color-palette-p-3 !important;
    font-family: $font-anonymous-pro !important;
}

.lottie-astronaut1, .lottie-astronaut2 {   
    margin-top: 30%; 
    height: $px-400;
    width: $px-400;
}

.lottie-down-arrow {
    height: $px-150;
    width: $px-150;
}

.lottie-up-arrow {
    width: 50px;  /* Adjust size of the arrow if needed */
    height: 50px;
}

.typewriter {
    font-family: $font-anonymous-pro;
    font-size: $px-24;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.8s step-end infinite;
    color: $color-palette-p-2;
    font-weight: bold;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.index-db {
    height: 60vh;
    background: linear-gradient( rgb(22, 27, 39), rgb(78, 93, 106) );
}

// To be added in future:
// https://medium.com/nerd-for-tech/adding-a-custom-star-field-background-with-three-js-79a1d18fd35d

// https://codepen.io/Roberto-R/pen/mybyOEa


@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/****************************** Stars ******************************/

/* Keyframes for twinkle effect */
/* Star styling */
.star {
    position: absolute; /* Change to absolute for relative positioning within space-section */
    background-color: white;
    border-radius: 50%;
    z-index: -2; /* Place stars behind other elements */
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px rgba(255, 255, 255, 0.5); /* Adjusted glow effect */
    animation: twinkle 4s infinite alternate; /* Twinkle animation */
}

/* Keyframes for twinkle effect */
@keyframes twinkle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1); /* Slightly larger scale for more intense twinkle */
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.down-arrow {
    margin-top: 80%;  /* Adds space between the Lottie animation and the down arrow */
    display: flex;
    justify-content: center;
}

.down-arrow img {
    width: 5%;         /* Ensure the arrow size is proportional */
    height: auto;      /* Maintain aspect ratio of the image */
}




/****************************** Text Intro ******************************/

/* Define the floating animation */
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust height as needed */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Apply the animation */
  .floating {
    display: inline-block; /* Ensures the animation doesn't affect layout */
    animation: float 4s ease-in-out infinite; /* Duration, easing, and looping */
  }

/****************************** Section: Professional Profile ******************************/

/* Add a right border to the first column */
.border-right {
    border-right: 1px solid gray; /* Thin line with gray color */
    height: 60%; /* 70% height of the container */
}

.border-left {
    border-left: 0px solid gray; /* Thin line with gray color */
    height: 60%; /* 70% height of the container */
}

.profile-name span {
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(50px);
    display: inline-block;
}

.profile-name span.fade {
    opacity: 1;
    transform: translateY(0px);
}

/****************************** Scroll top ******************************/
.goto-top {
    position: fixed;
    bottom: $px-50;
    right: $px-20; 
    width: $px-50;
    height: $px-50;
}