@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cutive+Mono&display=swap');
@import "general.scss";

.welcome-section {
    // background-color: $color-palette-s-1;
    min-height: $px-500;
}

.welcome-text {
    color: $color-palette-p-2 !important;
}

.lottie-animation {
    max-width: 100%; // Ensures responsiveness
}

.typewriter {
    font-family: "Cutive Mono", monospace;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    display: inline-block;
    animation: blink 0.7s step-end infinite;
    color: $color-palette-p-2;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
