@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cutive+Mono&display=swap");
/****************************** Importación de Fuentes Web ******************************/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@100;500&display=swap");
/****************************** Variables ******************************/
/****************************** Mixins ******************************/
/****************************** Custom container ******************************/
.custom-container {
  width: 80%;
  margin: 10px auto;
}

/****************************** Misc classes ******************************/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide-element {
  display: none !important;
}

/****************************** General ******************************/
body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto; /* Prevent vertical overflow */
}

/****************************** Global styles ******************************/
h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  color: #4e5d6a !important;
}

p {
  font-family: "Lato", sans-serif;
  color: #313a42;
}

/****************************** Header ******************************/
header {
  background: #F2F6FC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.5s ease 0s;
  box-shadow: rgba(230, 117, 117, 0.4) 0px 10px 5px -5px, rgba(219, 57, 57, 0.4) 0px 8px 16px -8px;
}

header .contenedor {
  margin: 0 auto;
  display: flow-root;
  position: relative;
}

header h1 {
  margin: 0;
}

header .logo {
  display: block;
  width: 200px;
  height: 80px;
  background: url("../imgs/kt_logo_lbg.png") no-repeat top left;
  background-size: 95% !important;
  float: none;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger {
  margin: 35px 0px;
  cursor: pointer;
  width: 25px;
  height: 3px;
  padding: 9px 0px;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger span {
  position: relative;
  display: block;
}

header .main-menu-trigger span,
header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
  width: 25px;
  height: 4px;
  background: #313a42;
  display: block;
  transition: all 0.5s ease 0s;
}

header .main-menu-trigger span::before,
header .main-menu-trigger span::after {
  position: absolute;
  left: 0px;
  content: "";
}

header .main-menu-trigger span::before {
  top: -8px;
}

header .main-menu-trigger span::after {
  bottom: -8px;
}

header.active {
  background: rgba(49, 58, 66, 0.147);
  transition: all 0.5s ease 0s;
}

header.active .logo {
  background: url("../imgs/kt_logo_dbg.png") no-repeat top left;
  transition: all 0.5s ease 0s;
}

header.active .main-menu-trigger span,
header.active .main-menu-trigger span::before {
  width: 27px;
  height: 4px;
  background: #ffffff;
  transition: all 0.5s ease 0s;
  transform: rotate(45deg);
}

header.active .main-menu-trigger span::after {
  width: 0;
  height: 0;
}

header.active .main-menu-trigger span {
  transform: rotate(45deg);
}

header.active .main-menu-trigger span::before {
  transform: rotate(-90deg);
  top: 0px;
}

header.fixed {
  position: fixed;
}

header .main-menu {
  position: absolute;
  top: -150px;
  right: 20%;
  transition: all 0.5s ease 0s;
}

header .main-menu li {
  display: block;
  float: left;
  padding: 0 15px;
}

header .main-menu li a {
  padding: 5px 5px;
  display: block;
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #DB3939;
}

header .main-menu li .dropdown-menu a {
  color: #313a42;
}

header .main-menu li a:hover {
  color: #DB3939;
  text-decoration: none;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: rgba(222, 232, 247, 0.3) !important;
}

header .main-menu li a::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  display: block;
  width: 0%;
  height: 0;
  height: 1px;
  transition: all 0.5s ease 0s;
}

header .main-menu li a:hover::after {
  width: 100%;
  background: #E67575;
  transition: all 0.5s ease 0s;
}

header.active .main-menu {
  top: 40px;
  transition: all 0.5s ease 0s;
}

header.active.fixed .main-menu {
  top: 40px;
}

header.fixed .main-menu li a {
  font-size: 20px;
}

.dropdown-menu {
  background-color: rgba(222, 232, 247, 0.3) !important;
}

/****************************** Language switch ******************************/
/* Texto de idioma */
.language-switch {
  position: relative;
  display: inline-block;
  width: 2.5rem; /* Ajusta el ancho */
  height: 1.25rem; /* Ajusta la altura */
}

.language-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e5d6a;
  transition: 0.4s;
  border-radius: 1.25rem; /* Ajusta el radio de borde */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Ajusta la altura */
  width: 16px; /* Ajusta el ancho */
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: rgba(242, 246, 252, 0.56);
  transition: 0.4s;
  border-radius: 50%; /* Ajusta el radio de borde */
}

input:checked + .slider {
  background-color: rgba(219, 57, 57, 0.4);
}
input:checked + .slider .lang-es {
  color: #313a42 !important;
  margin-right: 0.313rem;
}

input:checked + .slider:before {
  transform: translateX(1.25rem); /* Ajusta la traducción */
}

/* Texto de idioma */
.language-text {
  position: relative;
  top: -0.188rem; /* Ajusta la posición */
  display: inline-block;
  font-size: 0.688rem;
}

.lang-es {
  color: #313a42;
  margin-right: 0.313rem;
}

.lang-en {
  color: #DB3939;
  margin-left: 0.313rem;
}

.lang-en-db {
  color: rgba(242, 246, 252, 0.56) !important;
  transition: all 0.5s ease 0s;
}

/****************************** Separator line ******************************/
.separator-line {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background-color: #DB3939;
}

/****************************** Title lines ******************************/
.line-decorated-lb {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.line-decorated-lb::before, .line-decorated-lb::after {
  content: "";
  flex-grow: 1;
  height: 0.063rem; /* Altura de las líneas */
  background-color: #4e5d6a; /* Color de las líneas */
}
.line-decorated-lb::before {
  margin-right: 1.25rem; /* Espacio entre la línea y el texto */
}
.line-decorated-lb::after {
  margin-left: 1.25rem; /* Espacio entre la línea y el texto */
}

.line-decorated-db {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  color: #DEE8F7 !important;
}
.line-decorated-db::before, .line-decorated-db::after {
  content: "";
  flex-grow: 1;
  height: 0.063rem; /* Altura de las líneas */
  background-color: #DEE8F7; /* Color de las líneas */
}
.line-decorated-db::before {
  margin-right: 1.25rem; /* Espacio entre la línea y el texto */
}
.line-decorated-db::after {
  margin-left: 1.25rem; /* Espacio entre la línea y el texto */
}

/****************************** Image transitions ******************************/
.img-container {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Prevents overflow during scaling */
  border-radius: 0.625rem;
}

/* Hover rectangle for background effect */
.hover-rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0;
  height: 0;
  background-color: rgba(78, 93, 106, 0.4); /* Transparent background */
  display: flex;
  border-radius: 0.625rem;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  text-align: center;
  transition: transform 0.7s ease, opacity 0.7s ease, width 0.7s ease, height 0.7s ease; /* Slower transition */
}

/* On hover, the rectangle expands */
.img-container:hover .hover-rectangle {
  transform: translate(-50%, -50%) scale(1); /* Scale up the rectangle */
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* Image styling */
.img-values {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Custom font and size for text */
.custom-transition-font {
  font-size: 1.5rem !important;
  color: #DB3939 !important;
  font-family: "Anonymous Pro", monospace;
  font-weight: bolder;
}

/****************************** Buttons ******************************/
.btn-kt-primary {
  background-color: #313a42 !important;
  color: #DEE8F7 !important;
}

.btn-kt-primary:hover {
  background-color: #4e5d6a !important;
}

.btn-tk-ol-primary {
  border-color: #313a42 !important;
}

.btn-tk-ol-primary:hover {
  background-color: #4e5d6a !important;
  border-color: #4e5d6a !important;
  color: #F2F6FC !important;
}

.btn-tk-secondary {
  background-color: #DEE8F7 !important;
  width: 6.25rem;
}

.btn-tk-secondary:hover {
  background-color: #E67575 !important;
  border-color: #E67575 !important;
  color: #F2F6FC !important;
}

/****************************** Projects - Index ******************************/
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.card-list .card-item {
  height: auto;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(222, 232, 247, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .project-image {
  width: 200px;
  height: 57px;
  padding: 4px;
}

.card-list .card-item .project-name h2 {
  color: #F2F6FC !important;
}

.card-list .card-item .project-desc {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0;
}

.card-list .card-item .go-project-btn {
  width: 50px;
}

.card-list .card-item .go-project-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #4e5d6a;
  margin-top: 2%;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #E67575;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
/****************************** Footer ******************************/
footer {
  background: #F2F6FC;
  color: #313a42;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: rgba(230, 117, 117, 0.4) 0px -10px 5px -5px, rgba(219, 57, 57, 0.4) 0px -8px 16px -8px;
}

footer .custom-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer .footer-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-menu li a {
  text-decoration: none;
  color: #313a42;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

footer .footer-menu li a:hover {
  color: #E67575;
}

footer .footer-credit {
  font-size: 0.875rem;
  color: #313a42;
}

.footer-icons a i {
  color: #313a42; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
  margin: 0px 10px;
}

.footer-icons a i:hover {
  color: #E67575; /* Change this to your desired hover color */
}

/****************************** Privacy Policy ******************************/
.privacy-policy {
  height: 165vh;
}

.container-pp {
  max-width: 50%;
  margin: 0 auto;
}

.privacy-policy-img-style img {
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px white inset;
}

.section-profile, .section-skills {
  min-height: 50vh;
}

.dev-photo {
  height: 150px;
  width: 150px;
}/*# sourceMappingURL=profile.css.map */